<div *ngIf="abierto">
  <div class="spinner-grow text-primary" style="width: 1.4rem; height: 1.4rem; animation-delay: 0s" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" style="width: 1.4rem; height: 1.4rem; animation-delay: 0.25s" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-success" style="width: 1.4rem; height: 1.4rem; animation-delay: 0.5s" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" style="width: 1.4rem; height: 1.4rem; animation-delay: 0.75s" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" style="width: 1.4rem; height: 1.4rem;animation-delay: 1s" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" style="width: 1.4rem; height: 1.4rem; animation-delay: 1.25s" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
