<h2>Añadir sprint</h2>
<form [formGroup]="sprintForm">
  <div class="row">
    <div class="col">
      <label for="nombre">Nombre</label>
      <input validar type="text" id="nombre" name="nombre" placeholder="Nombre de sprint"
        class="form-control" formControlName="nombre">
    </div>
    <div class="col">
      <label for="fechaInicial">Fecha inicial</label>
      <input validar type="date" id="fechaInicial" name="fechaInicial" placeholder="Inicio del sprint"
        class="form-control" formControlName="fechaInicial">
    </div>
    <div class="col">
      <label for="fechaFinal">Fecha de finalización</label>
      <input validar type="date" id="fechaFinal" name="fechaFinal" placeholder="Final del sprint"
        class="form-control" formControlName="fechaFinal">
    </div>
    <div class="col-2">
      <label for="numeroPersonas">Personas en el equipo</label>
      <input validar type="number" id="numeroPersonas" name="numeroPersonas" placeholder="Número de personas en el equipo"
        class="form-control" formControlName="numeroPersonas">
    </div>
    <div class="col">
      <button class="btn btn-primary btn-lg btn-block" type="button" (click)="crear()">Añadir sprint</button>
    </div>
  </div>
</form>
